{% extends 'lot/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>パスワードをリセットしますか？</h3>
            <p>
                登録済みのメールアドレスを入力してください。
                リセット専用のリンクをお届けします。
            </p>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn amber darken-1" value="専用リンクを受け取る">
                <br>
            </form>

            <br>
            <a href="{% url 'lot:index' %}">LOT App</a>
        </div>
    </div>
{% endblock %}