.not-visible {
    display: none;
}

.container {
    width: 100%;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;  
}

.col {
    text-align: center !important;
}

img {
    max-width: 100%;
    min-width: 360px;
    height: auto;
}