{% extends 'lot/base.html' %}
{% load static %}

{% block extracss %}
    <!-- customcss -->
    <link rel="stylesheet" type="text/css" href="{% static 'lot/css/index.css' %}">
{% endblock %}


{% block extrajs %}
    
{% endblock %}


{% block content %}
    <div class="container">
        
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <div class="scan-button">
                <button id="scan-btn" class="btn center amber darken-1" type="submit" name="scan" onclick="send_img()">Scan</button>
            </div>
        </form>
        <br>

        <div class="row">
            <div class="col s12">
                <img src="{% static 'lot/img/processing.png' %}" id="stream">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col s12">
                {% if not image %}
                    <img src="{% static 'lot/img/scan_text.png' %}"/>
                {% else %}
                    <img src="data:image/png;base64,{{ image }}" id="scanned"/>
                {% endif %}
            </div>
        </div>

        <!-- スキャンした商品の出荷先を送信した際の結果を表示（出荷先を記入しました or すべての商品に出荷先が記入されています） -->
        {% if updated_ship %}
            <div id="ship_comfirmed"></div> 
        {% elif no_candidate %}
            <div id="no_candidate"></div>  
        {% elif date_mismatch %}
            <div id="date_mismatch"></div>  
        {% endif %}
        
        <br>

        {% if shipping_place %}
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger not-visible" href="#modal">Modal</a>
            <br>

            <!-- Modal Structure -->
            <div id="modal" class="modal">
                <div class="modal-content">
                    <p>こちらの出荷先でよろしいでしょうか？</p>
                    <h5 class="ship_comfirm">{{ shipping_place }}</h5>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button class="btn-flat modal-close green accent-2" type="submit" name="shipping" value="{{ shipping_place }}">確定</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#modal2" class="modal-close waves-effect btn-flat orange darken-4 btn modal-trigger">変更</a>
                </div>
            </div>

            <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h5>出荷先をもう一度スキャンしてください。</h5>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect btn-flat green accent-2">OK</a>
                </div>
            </div>

        {% endif %}

    
    </div>
    <script>
        const canvas = document.createElement("canvas");
        const imgTag = document.getElementById("stream"); // img tag
        const video = document.createElement("video");
        
        video.addEventListener("loadedmetadata", function (e) {
            // canvas.width = this.videoWidth,
            // canvas.height = this.videoHeight;
            canvas.width = this.videoWidth,
            canvas.height = this.videoHeight;
            console.log('video width, height: ', canvas.width, canvas.height);
        }, false );

        // iOS（~14.7.1まで確認済み）に対応するには以下3行が必要
        // video.setAttribute('autoplay', '');
        // video.setAttribute('muted', '');
        // video.setAttribute('playsinline', '');

        var ctx = canvas.getContext("2d");

        var constraints = {
            audio: false, 
            video: {facingMode: "user"} // バックカメラは {facingMode: {exact: 'environment'}}
        };
        navigator.mediaDevices.getUserMedia(constraints)
        .then(stream => {
            video.srcObject = stream;
            video.play();

            update();
        }).catch(e => {
          console.log(e);
        })

        function update() {
            // webカメラに映るフレームをcanvasにレンダリング
            ctx.scale(-1, 1); // xミラー表示: (-1, 1)
            ctx.drawImage(video,0,0,-video.videoWidth,video.videoHeight);
            ctx.setTransform(1, 0, 0, 1, 0, 0);

            imgTag.src = canvas.toDataURL("image/png"); // 送信可能なURLに変換
            requestAnimationFrame(update); // wait for the browser to be ready to present another animation fram.       
        }

        function getBase64Image(imgTag) {
            var dataURL = imgTag.src; // imgタグからURLを取得
            return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
        }

        function send_img() {
            console.log('sending');
            
            var base64 = getBase64Image(imgTag);
            document.getElementById('scan-btn').value = base64;
            console.log('WebCamera off');
            document.getElementById("stream").src = "{% static 'lot/img/processing.png' %}";
            
        }
    </script>

    <script>
        const comfirmedElem = document.getElementById('ship_comfirmed');
        const noCandidateElem = document.getElementById('no_candidate');
        const dateMismatchElem = document.getElementById('date_mismatch');
        
        if (comfirmedElem) {
            window.Materialize.toast("出荷先を記録しました", 4000);
        }

        else if (noCandidateElem) {
            window.Materialize.toast("{{ no_candidate.0 }}", 4000);
        }
        else if (dateMismatchElem) {
            window.Materialize.toast("{{ date_mismatch.0 }}", 4000);
        }
    </script>

    <script>
        const elem = document.getElementById('modal');
        const elem2 = document.getElementById('modal2');
        const instance2 = M.Modal.init(elem2, {dismissible: false});

        if (elem) {
            const instance = M.Modal.init(elem, {dismissible: false});
            instance.open();
        }
        
    </script>


{% endblock %}