{% extends 'lot/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h3>パスワードの変更</h3>
        <br>
    
        <div class="row">
            <form method="post" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}

                {{ form.as_p }}
                <button class="btn center amber darken-1" type="submit" name="action">変更</button>
                <a href="{% url 'account_reset_password' %}">パスワードを忘れた場合はこちら</a>
            </form>
        </div>
    </div>
{% endblock %}