{% extends 'lot/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4>パスワードをリセットしますか？</h4>
            <p>
                パスワードのリセットには本人確認が必要です。<br>
                登録済みのメールアドレスを入力してください。<br>
                リセット専用のリンクをお届けします。
            </p>
            <br>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn amber darken-1" value="リンクを発行">
                <br>
            </form>

        </div>
    </div>
{% endblock %}